<h1> Please Login to The Sandwich-King </h1>

<%# if flash[:errors]%>
  <%# flash[:errors].each do |message| %>
    <strong><%# message %></strong>
  <%# end %>
<%# end%>

<%= form_tag sessions_path do  %>
  <%= label_tag 'Username' %>
  <%= text_field_tag :user_name %>
  <br>
  <%= label_tag "Password" %>
  <%= password_field_tag :password_digest %>
  <br>
  <%= submit_tag 'Log In!' %>
<% end %>