<h1> Sandwich Show Page </h1>

<h2> <%= @sandwich.name %> </h2>
<h2> Price: <%= @sandwich.price %> </h2>
<h2> Cookie: <%= @cookie.name %> </h2>
<h2> Topping: <%= @topping.name %> </h2>
<h2> Ice Cream: <%= @ice_cream.name %> </h2>

<%= button_to "delete", @sandwich, :method => :delete %>