<h1> Sandwich Show Page </h1>

<h2> <%= @sandwich.name %> </h2>
<h2> <%= @sandwich.price %> </h2>
<h2> <%= @sandwich.cookies %> </h2>
<h2> <%= @sandwich.price %> </h2>
<h2> <%= @sandwich.price %> </h2>

