<h2> <%= @sandwich.name %> </h2>


<h3> Price: <%= @sandwich.price %> </h3>
<h3> Cookie: <%= @cookie.name %> </h3>
<h3> Topping: <%= @topping.name %> </h3>
<h3> Ice Cream: <%= @ice_cream.name %> </h3>

<%= button_to "delete", @sandwich, :method => :delete %>